#events {
    /*background-color: green;*/
}

#grand-parent {
    padding: 10px;
    border: 1px solid black;
}

#parent {
    padding: 10px;
    border: 1px solid black;
}

#child {
    padding: 10px;
    border: 1px solid black;
}